#main-home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    div:first-of-type {
        @include set-flex-container(column, 20px);
        p {
            color: $color2;
        }
    }
    div:nth-of-type(2) {
        @include set-flex-container(row)
    }
}