/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Epilogue', sans-serif;
}
ul {
    list-style: none;
}
p {
    font-size: 18px;
}
a {
    text-decoration: none;
    &.btn-type1 {
        padding: 20px;
    }
}
img {
    max-width: 100%;
}
/* CLASSES */
.hide-on-screen-sm {
    display: none;
}
.send-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.rounded {
    border-radius: 15px
}
.btn-type1 {
    @include set-colors($color3, $color1);
    @extend .rounded;
    font-weight: bold;
}
/* /CLASSES */
/* /GENERAL */
/* HEADER */
header {
    @include set-flex-container(row, 20px, space-between); 
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    ul {
        @include set-flex-container(row, 20px, center);
        .nav-main-submenu {
            display: none;
        }
    }
    & + * {
      margin-top: 65px;
    }
    #btn-menu {
        background: url(../../images/icon-menu.svg) no-repeat;
        background-color: transparent;
        right: 20px;
        border: none;
        @include set-size(32px, 18px)
    }
}
/* /HEADER */
/* FOOTER */
footer {
    text-align: center;
}
/* /FOOTER */






